<div class="hero min-h-screen bg-base-200" id="contact">
    <div class="hero-content flex-col ">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold m-8">Agenda tu cita ahora!</h1>
      </div>
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Nombre</span>
              </label>
              <input type="text" placeholder="Nombre" class="input input-bordered" required />
            </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Correo</span>
            </label>
            <input type="email" placeholder="Correo" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Numero telefonico</span>
            </label>
            <input type="number" placeholder="Numero telefonico" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Servicio</span>
            </label>
            <input type="text" placeholder="Servicio" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Descripción</span>
            </label>
            <input type="text" placeholder="Descripción" class="input input-bordered" required />
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Agendar cita</button>
          </div>
        </form>
      </div>
    </div>
  </div>