<div class="hero min-h-screen bg-base-200" id="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/img/Hero.png" class="max-w-sm rounded-lg shadow-2xl m-16 h-44" />
      <div>
        <h1 class="text-5xl font-bold">Bienvenido!</h1>
        <p class="py-6">Somos una empresa dedicada a mejoras, soluciones y mantenimiento de sistemas.</p>
        <a class="btn btn-primary" href="#contact">Agenda una cita ahora</a>
      </div>
    </div>
  </div>